@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
#app {
  max-width: 1380px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  font-family: 'Bebas Neue', cursive;
}

html {
  scroll-behavior: smooth;
}
